In [1]:
import pandas

In [2]:
anz = pandas.read_csv('../data/gapminder_gdp_oceania.csv', index_col='country')

In [3]:
anz

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744
New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911

In [4]:
africa = pandas.read_csv('../data/gapminder_gdp_africa.csv', index_col='country')

In [5]:
europ = pandas.read_csv('../data/gapminder_gdp_europe.csv', index_col='country')

In [20]:
america = pandas.read_csv('../data/gapminder_gdp_americas.csv', index_col='country')

In [21]:
%who

africa	 america	 anz	 europ	 pandas

In [7]:
africa.info（）

SyntaxError: invalid character in identifier (<ipython-input-7-ce0375acf734>, line 1)

In [8]:
africa.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, Algeria to Zimbabwe
Data columns (total 12 columns):
gdpPercap_1952    52 non-null float64
gdpPercap_1957    52 non-null float64
gdpPercap_1962    52 non-null float64
gdpPercap_1967    52 non-null float64
gdpPercap_1972    52 non-null float64
gdpPercap_1977    52 non-null float64
gdpPercap_1982    52 non-null float64
gdpPercap_1987    52 non-null float64
gdpPercap_1992    52 non-null float64
gdpPercap_1997    52 non-null float64
gdpPercap_2002    52 non-null float64
gdpPercap_2007    52 non-null float64
dtypes: float64(12)
memory usage: 5.3+ KB

In [9]:
africa.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
count,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000
mean,1252.572466,1385.236062,1598.078825,2050.363801,2339.615674,2585.938508,2481.592960,2282.668991,2281.810333,2378.759555,2599.385159,3089.032605
std,982.952116,1134.508918,1461.839189,2847.717603,3286.853884,4142.398707,3242.632753,2566.531947,2644.075602,2820.728117,2972.651308,3618.163491
min,298.846212,335.997115,355.203227,412.977514,464.099504,502.319733,462.211415,389.876185,410.896824,312.188423,241.165877,277.551859
25%,534.990554,606.954355,673.329046,779.815648,815.919804,805.612125,828.656854,764.598759,743.908497,791.901966,780.577824,862.951537
50%,987.025569,1024.022987,1133.783677,1210.376379,1443.372508,1399.638836,1323.728306,1219.585563,1161.631357,1179.883114,1215.683217,1452.267078
75%,1454.886645,1573.040442,1702.219247,1890.112274,2292.258613,2841.282025,2787.582271,2786.310885,2707.896077,2856.386031,3314.887180,3993.501583
max,4725.295531,5487.104219,6757.030816,18772.751690,21011.497210,21951.211760,17364.275380,11864.408440,13522.157520,14722.841880,12521.713920,13206.484520

In [10]:
africa.head()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,5023.216647,4797.295051,5288.040382,6223.367465
Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,2627.845685,2277.140884,2773.287312,4797.231267
Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,1191.207681,1232.975292,1372.877931,1441.284873
Botswana,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,7954.111645,8647.142313,11003.605080,12569.851770
Burkina Faso,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,931.752773,946.294962,1037.645221,1217.032994

In [11]:
africa.head(n=3)

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,5023.216647,4797.295051,5288.040382,6223.367465
Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,2627.845685,2277.140884,2773.287312,4797.231267
Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,1191.207681,1232.975292,1372.877931,1441.284873

In [12]:
africa.tail()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Togo,859.808657,925.908320,1067.534810,1477.596760,1649.660188,1532.776998,1344.577953,1202.201361,1034.298904,982.286924,886.220577,882.969944
Tunisia,1468.475631,1395.232468,1660.303210,1932.360167,2753.285994,3120.876811,3560.233174,3810.419296,4332.720164,4876.798614,5722.895655,7092.923025
Uganda,734.753484,774.371069,767.271740,908.918522,950.735869,843.733137,682.266227,617.724406,644.170797,816.559081,927.721002,1056.380121
Zambia,1147.388831,1311.956766,1452.725766,1777.077318,1773.498265,1588.688299,1408.678565,1213.315116,1210.884633,1071.353818,1071.613938,1271.211593
Zimbabwe,406.884115,518.764268,527.272182,569.795071,799.362176,685.587682,788.855041,706.157306,693.420786,792.449960,672.038623,469.709298

In [13]:
africa.gdpPercap_1952.describe

<bound method NDFrame.describe of country
Algeria                     2449.008185
Angola                      3520.610273
Benin                       1062.752200
Botswana                     851.241141
Burkina Faso                 543.255241
Burundi                      339.296459
Cameroon                    1172.667655
Central African Republic    1071.310713
Chad                        1178.665927
Comoros                     1102.990936
Congo Dem. Rep.              780.542326
Congo Rep.                  2125.621418
Cote d'Ivoire               1388.594732
Djibouti                    2669.529475
Egypt                       1418.822445
Equatorial Guinea            375.643123
Eritrea                      328.940557
Ethiopia                     362.146280
Gabon                       4293.476475
Gambia                       485.230659
Ghana                        911.298937
Guinea                       510.196492
Guinea-Bissau                299.850319
Kenya                        853.540919
Lesotho                      298.846212
Liberia                      575.572996
Libya                       2387.548060
Madagascar                  1443.011715
Malawi                       369.165080
Mali                         452.336981
Mauritania                   743.115910
Mauritius                   1967.955707
Morocco                     1688.203570
Mozambique                   468.526038
Namibia                     2423.780443
Niger                        761.879376
Nigeria                     1077.281856
Reunion                     2718.885295
Rwanda                       493.323875
Sao Tome and Principe        879.583586
Senegal                     1450.356983
Sierra Leone                 879.787736
Somalia                     1135.749842
South Africa                4725.295531
Sudan                       1615.991129
Swaziland                   1148.376626
Tanzania                     716.650072
Togo                         859.808657
Tunisia                     1468.475631
Uganda                       734.753484
Zambia                      1147.388831
Zimbabwe                     406.884115
Name: gdpPercap_1952, dtype: float64>

In [15]:
europe.info()

NameError: name 'europe' is not defined

In [16]:
europ.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, Albania to United Kingdom
Data columns (total 12 columns):
gdpPercap_1952    30 non-null float64
gdpPercap_1957    30 non-null float64
gdpPercap_1962    30 non-null float64
gdpPercap_1967    30 non-null float64
gdpPercap_1972    30 non-null float64
gdpPercap_1977    30 non-null float64
gdpPercap_1982    30 non-null float64
gdpPercap_1987    30 non-null float64
gdpPercap_1992    30 non-null float64
gdpPercap_1997    30 non-null float64
gdpPercap_2002    30 non-null float64
gdpPercap_2007    30 non-null float64
dtypes: float64(12)
memory usage: 3.0+ KB

In [17]:
europ.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,5661.057435,6963.012816,8365.486814,10143.823757,12479.575246,14283.979110,15617.896551,17214.310727,17061.568084,19076.781802,21711.732422,25054.481636
std,3114.060493,3677.950146,4199.193906,4724.983889,5509.691411,5874.464896,6453.234827,7482.957960,9109.804361,10065.457716,11197.355517,11800.339811
min,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
25%,3241.132406,4394.874315,5373.536612,6657.939047,9057.708095,10360.030300,11449.870115,12274.570680,8667.113214,9946.599306,11721.851483,14811.898210
50%,5142.469716,6066.721495,7515.733738,9366.067033,12326.379990,14225.754515,15322.824720,16215.485895,17550.155945,19596.498550,23674.863230,28054.065790
75%,7236.794919,9597.220820,10931.085347,13277.182057,16523.017127,19052.412163,20901.729730,23321.587723,25034.243045,27189.530312,30373.363307,33817.962533
max,14734.232750,17909.489730,20431.092700,22966.144320,27195.113040,26982.290520,28397.715120,31540.974800,33965.661150,41283.164330,44683.975250,49357.190170

In [18]:
europ.head(n=3)

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.00391,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.42230,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700
Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.97448,20979.845890,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080

In [19]:
europ.tail(n=3)

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Switzerland,14734.232750,17909.489730,20431.092700,22966.144320,27195.11304,26982.290520,28397.715120,30281.704590,31871.530300,32135.323010,34480.957710,37506.419070
Turkey,1969.100980,2218.754257,2322.869908,2826.356387,3450.69638,4269.122326,4241.356344,5089.043686,5678.348271,6601.429915,6508.085718,8458.276384
United Kingdom,9979.508487,11283.177950,12477.177070,14142.850890,15895.11641,17428.748460,18232.424520,21664.787670,22705.092540,26074.531360,29478.999190,33203.261280

In [23]:
america.sumamary()

AttributeError: 'DataFrame' object has no attribute 'sumamary'

In [24]:
america.descript()

AttributeError: 'DataFrame' object has no attribute 'descript'

In [25]:
america.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000
mean,4079.062552,4616.043733,4901.541870,5668.253496,6491.334139,7352.007126,7506.737088,7793.400261,8044.934406,8889.300863,9287.677107,11003.031625
std,3001.727522,3312.381083,3421.740569,4160.885560,4754.404329,5355.602518,5530.490471,6665.039509,7047.089191,7874.225145,8895.817785,9713.209302
min,1397.717137,1544.402995,1662.137359,1452.057666,1654.456946,1874.298931,2011.159549,1823.015995,1456.309517,1341.726931,1270.364932,1201.637154
25%,2428.237769,2487.365989,2750.364446,3242.531147,4031.408271,4756.763836,4258.503604,4140.442097,4439.450840,4684.313807,4858.347495,5728.353514
50%,3048.302900,3780.546651,4086.114078,4643.393534,5305.445256,6281.290855,6434.501797,6360.943444,6618.743050,7113.692252,6994.774861,8948.102923
75%,3939.978789,4756.525781,5180.755910,5788.093330,6809.406690,7674.929108,8997.897412,7807.095818,8137.004775,9767.297530,8797.640716,11977.574960
max,13990.482080,14847.127120,16173.145860,19530.365570,21806.035940,24072.632130,25009.559140,29884.350410,32003.932240,35767.433030,39097.099550,42951.653090

In [26]:
america.T

country,Argentina,Bolivia,Brazil,Canada,Chile,Colombia,Costa Rica,Cuba,Dominican Republic,Ecuador,...,Mexico,Nicaragua,Panama,Paraguay,Peru,Puerto Rico,Trinidad and Tobago,United States,Uruguay,Venezuela
continent,Americas,Americas,Americas,Americas,Americas,Americas,Americas,Americas,Americas,Americas,...,Americas,Americas,Americas,Americas,Americas,Americas,Americas,Americas,Americas,Americas
gdpPercap_1952,5911.32,2677.33,2108.94,11367.2,3939.98,2144.12,2627.01,5586.54,1397.72,3522.11,...,3478.13,3112.36,2480.38,1952.31,3758.52,3081.96,3023.27,13990.5,5716.77,7689.8
gdpPercap_1957,6856.86,2127.69,2487.37,12490,4315.62,2323.81,2990.01,6092.17,1544.4,3780.55,...,4131.55,3457.42,2961.8,2046.15,4245.26,3907.16,4100.39,14847.1,6150.77,9802.47
gdpPercap_1962,7133.17,2180.97,3336.59,13462.5,4519.09,2492.35,3460.94,5180.76,1662.14,4086.11,...,4581.61,3634.36,3536.54,2148.03,4957.04,5108.34,4997.52,16173.1,5603.36,8422.97
gdpPercap_1967,8052.95,2586.89,3429.86,16076.6,5106.65,2678.73,4161.73,5690.27,1653.72,4579.07,...,5754.73,4643.39,4421.01,2299.38,5788.09,6929.28,5621.37,19530.4,5444.62,9541.47
gdpPercap_1972,9443.04,2980.33,4985.71,18970.6,5494.02,3264.66,5118.15,5305.45,2189.87,5280.99,...,6809.41,4688.59,5364.25,2523.34,5937.83,9123.04,6619.55,21806,5703.41,10505.3
gdpPercap_1977,10079,3548.1,6660.12,22090.9,4756.76,3815.81,5926.88,6380.49,2681.99,6679.62,...,7674.93,5486.37,5351.91,3248.37,6281.29,9770.52,7899.55,24072.6,6504.34,13144
gdpPercap_1982,8997.9,3156.51,7030.84,22898.8,5095.67,4397.58,5262.73,7316.92,2861.09,7213.79,...,9611.15,3470.34,7009.6,4258.5,6434.5,10331,9119.53,25009.6,6920.22,11152.4
gdpPercap_1987,9139.67,2753.69,7807.1,26626.5,5547.06,4903.22,5629.92,7532.92,2899.84,6481.78,...,8688.16,2955.98,7034.78,3998.88,6360.94,12281.3,7388.6,29884.4,7452.4,9883.58
gdpPercap_1992,9308.42,2961.7,6950.28,26342.9,7596.13,5444.65,6160.42,5592.84,3044.21,7103.7,...,9472.38,2170.15,6618.74,4196.41,4446.38,14641.6,7370.99,32003.9,8137,10733.9
gdpPercap_1997,10967.3,3326.14,7957.98,28954.9,10118.1,6117.36,6677.05,5431.99,3614.1,7429.46,...,9767.3,2253.02,7113.69,4247.4,5838.35,16999.4,8792.57,35767.4,9230.24,10165.5
gdpPercap_2002,8797.64,3413.26,8131.21,33329,10778.8,5755.26,7723.45,6340.65,4563.81,5773.04,...,10742.4,2474.55,7356.03,3783.67,5909.02,18855.6,11460.6,39097.1,7727,8605.05
gdpPercap_2007,12779.4,3822.14,9065.8,36319.2,13171.6,7006.58,9645.06,8948.1,6025.37,6873.26,...,11977.6,2749.32,9809.19,4172.84,7408.91,19328.7,18008.5,42951.7,10611.5,11415.8

In [46]:
a = europ.loc["Greece"]

In [44]:
europ.gdpPercap_1952.loc["Iceland"]

7267.688428

In [45]:
europ.loc['Greece','gdpPercap_2007']

27538.41188

In [36]:
europ.loc[('Iceland','Greece'),('gdpPercap_1952','gdpPercap_2007')]

         gdpPercap_1952  gdpPercap_2007
country
Iceland     7267.688428     36180.78919
Greece      3530.690067     27538.41188

In [47]:
a

gdpPercap_1952     3530.690067
gdpPercap_1957     4916.299889
gdpPercap_1962     6017.190733
gdpPercap_1967     8513.097016
gdpPercap_1972    12724.829570
gdpPercap_1977    14195.524280
gdpPercap_1982    15268.420890
gdpPercap_1987    16120.528390
gdpPercap_1992    17541.496340
gdpPercap_1997    18747.698140
gdpPercap_2002    22514.254800
gdpPercap_2007    27538.411880
Name: Greece, dtype: float64

In [48]:
a.T

gdpPercap_1952     3530.690067
gdpPercap_1957     4916.299889
gdpPercap_1962     6017.190733
gdpPercap_1967     8513.097016
gdpPercap_1972    12724.829570
gdpPercap_1977    14195.524280
gdpPercap_1982    15268.420890
gdpPercap_1987    16120.528390
gdpPercap_1992    17541.496340
gdpPercap_1997    18747.698140
gdpPercap_2002    22514.254800
gdpPercap_2007    27538.411880
Name: Greece, dtype: float64

In [49]:
%who

a	 africa	 america	 anz	 europ	 pandas

AttributeError: module 'pandas' has no attribute 'head'